<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 4</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="./node_modules/sweetalert2/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="contain">

    </div>
    <header class="header">
        <nav class="navbar py-4 navbar-expand-lg navbar-dark nav-style bd-navbar ">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="./images/logo.png" width="187" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar4" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                    </path>
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbar4">
                    <!--Menu One-->
                    <div class="navbar-nav ml-3">
                        <a href="#" class="nav-item nav-link ml-5 px-4" id="home">
                            HOME
                        </a>
                        <a href="#" class="nav-item nav-link px-4" id="work">
                            WORK
                        </a>
                        <a href="#" class="nav-item nav-link px-4" id="contact">
                            CONTACT
                        </a>
                        <a href="#" class="nav-item nav-link px-4" id="about-us">
                            ABOUT US
                        </a>
                    </div>
                    <!--Menu Two-->
                    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="nav-right">
                        <a href="/logout" class="nav-item nav-link px-4">
                            <!-- SIGN UP -->
                            LOGOUT
                        </a>
                        <a href="#" class="nav-item nav-link px-4">
                            <!-- LOGIN -->
                            <%= email %>
                        </a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="row row-cols-1 ml-1 header-info">
            <div class="col header-info-col">
                <h1 class="header-title text-center">Play Traditional Game</h1>
                <h3 class="mini-info text-center">Experience new tradition game play</h3>
                <a class="btn btn-primary" href="./start" role="button">Get Started</a>
            </div>
            <div class="col align-self-end story-scroll-down">
                <a href="#gallery" class="header-scroll-link-wrapper+">
                    <p class="header-scroll-toggle">
                        THE STORY
                    </p>
                    <i class="bi bi-caret-down story-scroll-down-img"></i>
                </a>
            </div>
        </div>
    </header>

    <section class="gallery" id="gallery">
        <div class="row ml-5 gallery-content">
            <div class="col-5  gl-left-side">
                <h3 class="gallery-mini-info mb-5">
                    What's So Special ?
                </h3>
                <h1 class="games-info">
                    THE GAMES
                </h1>
            </div>

            <div class="col-7  gl-right-side">
                <div id="Indicatordot" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="0" class="active rounded-circle" aria-label="Slide 1" aria-current="true"></button>
                        <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="1" aria-label="Slide 2" class="rounded-circle"></button>
                        <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="2" aria-label="Slide 3" class="rounded-circle"></button>
                        <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="3" aria-label="Slide 4" class="rounded-circle"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="./images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 1">
                        </div>
                        <div class="carousel-item " data-bs-interval="10000">
                            <img src="./images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 2">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="./images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 3">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="./images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 4">
                        </div>
                    </div>
                    <button class="carousel-control-prev icon-costum-left" type="button" data-bs-target="#Indicatordot" data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
                    <button class="carousel-control-next icon-costum-right" type="button" data-bs-target="#Indicatordot" data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
                </div>
            </div>

        </div>

    </section>

    <!-- features section  -->
    <section class="features ">
        <div class="container">
            <div class="row justify-content-end features-contents">
                <div class="col-4 features-info mb-2">
                    <h3 class="features-info-title">
                        What's so special?
                    </h3>
                    <h1 class="features-info-content">
                        FEATURES
                    </h1>
                </div>
            </div>
            <div class="row justify-content-end features-timeline">
                <div class="col-5 features-timeline-content">
                    <div class="row timeline">
                        <div class="col-3 pt-2 mt-1 timeline-dot">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8.62158" cy="7.78027" r="7" transform="rotate(90 8.62158 7.78027)" fill="white" stroke="white" stroke-width="1.30637"/>
                            </svg>
                        </div>
                        <div class="col tl-info">
                            <h2 class="tl-info-title">
                                TRADITIONAL GAMES
                            </h2>
                            <p class="tl-info-content">
                                If you miss your childhood, we provide many traditional games here
                            </p>
                        </div>
                    </div>
                    <div class="row timeline">
                        <div class="col-3 pt-2 mt-1 timeline-dot">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8.21436" cy="8.54736" r="7" transform="rotate(90 8.21436 8.54736)" stroke="white" stroke-width="1.30637"/>
                            </svg>
                        </div>
                        <div class="col tl-info">
                            <h2 class="tl-info-title">
                                GAME SUIT
                            </h2>
                        </div>
                    </div>
                    <div class="row timeline">
                        <div class="col-3 pt-2 mt-1 timeline-dot">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8.21436" cy="8.46582" r="7" transform="rotate(90 8.21436 8.46582)" stroke="white" stroke-width="1.30637"/>
                            </svg>
                        </div>
                        <div class="col tl-info">
                            <h2 class="tl-info-title">
                                TBD
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of features section  -->

    <section class="sysreq">
        <div class="container">
            <div class="req-info-top">
                <h5>Can My Computer Run This Game?</h5>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="rq-table-title">System Requirements</h1>
                    <table class="table table-bordered table-content-sys">
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="requirements-info">OS:</h2>
                                    <p class="requirements-info-content">
                                        Windows 7 64-bit only<br>(No OSX support at this time)
                                    </p>
                                </td>
                                <td>
                                    <h2 class="requirements-info">Processor:</h2>
                                    <p class="requirements-info-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="requirements-info">Memory:</h2>
                                    <p class="requirements-info-content">4 GB RAM</p>
                                </td>
                                <td>
                                    <h2 class="requirements-info">Storage:</h2>
                                    <p class="requirements-info-content">8 GB available space</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h2 class="requirements-info">Graphics:</h2>
                                    <p class="requirements-info-content">
                                        NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model S)
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Score & Comments  -->
    <section class="score" id="score">
        <div class="container row">
            <div class="col-lg-5 col-md-7 offset-md-2 mt-5 offset-sm-1 align-center score-left-side ">
                <h1 class="score-header">TOP SCORES</h1>
                <h2 class="score-info">This top score from various games provided on <br>this platform</h2>
                <a class="btn btn-warning-score" href="#" role="button">See More</a>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col-lg-4 col-md-7 offset-lg-6 offset-md-2 offset-sm-1 twittercards">
                        <div class="card text-white bg-dark mb-2 " id="card-1">
                            <div class="card-header row">
                                <img src="./images/score-1.jpg" class="img-fluid float-left profilepic col-3 card-costum" alt="Evan Lahti">
                                <div class="col-6">
                                    <h3>Evan Lahti</h3>
                                    <h4>PC Gamer</h4>
                                </div>
                                <img src="images/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    "One of my gaming highlights of the year."
                                </h5>
                                <p class="card-text">October 18, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-md-7 offset-lg-3 offset-md-2 offset-sm-1 twittercards">
                        <div class="card text-white bg-dark mb-2 " id="card-2">
                            <div class="card-header row">
                                <img src="./images/score-3.jpg" class="img-fluid float-left profilepic col-3 card-costum" alt="Jada Griffin">
                                <div class="col-6">
                                    <h3>Jada Griffin</h3>
                                    <h4>Nerdreactor</h4>
                                </div>
                                <img src="./images/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    "The next big thing in the world of streaming and survival games."
                                </h5>
                                <p class="card-text">December 21, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-md-7 offset-lg-5 offset-md-2 offset-sm-1 twittercards">
                        <div class="card text-white bg-dark mb-1 " id="card-3">
                            <div class="card-header row">
                                <img src="./images/score-2.jpg" class="img-fluid float-left profilepic col-3 card-costum" alt="Aaron Williams">
                                <div class="col-6">
                                    <h3>Aaron Williams</h3>
                                    <h4>Uproxx</h4>
                                </div>
                                <img src="./images/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous
                                </h5>
                                <p class="card-text">December 24, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of Score & Comments  -->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl">
                    <figure>
                        <img src="./images/skull.jpg" alt="skull" id="skull">
                    </figure>
                </div>
                <div class="col-xl">
                    <div class="footer-content-right ">
                        <h3>Want to stay in touch?</h3>
                        <h1>Newsletter Subscribe</h1>
                        <p>
                            In case to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of you. We will send you emails containing information about game. We don't spam.
                        </p>
                    </div>
                    <div class="footer-content-left">
                        <form class="form row">
                            <div class="form-group col-md-7 mt-4">
                                <input type="text" class="form-control mb-2 mr-sm-2 pt-3 bg-dark" id="email" placeholder="youremail@binar.co.id">
                            </div>
                            <div class="col-md-5 text-left mt-4">
                                <button class="btn btn-warning-footer mb-3 w-100">
                                    Subscribe Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <div class="navigation text-center" id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12 menu-link">
                    <a class="ml-lg-5 px-4 text-light" href="#">MAIN</a>
                    <a class="ml-lg-5 px-4 text-light" href="#">ABOUT</a>
                    <a class="ml-lg-5 px-4 text-light" href="#">GAME FEATURES</a>
                    <a class="ml-lg-5 px-4 text-light" href="#">SYSTEM REQUIREMENTS</a>
                    <a class="ml-lg-5 px-4 text-light" href="#">QUOTES</a>
                </div>

                <div class="col-4 my-2 social-media-logo">
                    <a class="px-4" href="https://facebook.com/">
                        <span class="icon facebook">
                            <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"
                                fill="white" />
                            </svg>
                        </span>
                    </a>
                    <a class="px-4" href="https://twitter.com/">
                        <span class="icon twitter">
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M21.2138 2.42967C20.4408 2.75167 19.6098 2.96667 18.7388 3.06467C19.6288 2.56467 20.3118 1.77267 20.6338 0.830668C19.7998 1.29267 18.8778 1.62867 17.8958 1.81067C17.1108 1.02467 15.9898 0.534668 14.7508 0.534668C12.3708 0.534668 10.4398 2.34367 10.4398 4.57367C10.4398 4.89067 10.4778 5.19967 10.5518 5.49467C6.96981 5.32567 3.79381 3.71767 1.66781 1.27467C1.29681 1.87167 1.08481 2.56467 1.08481 3.30567C1.08481 4.70567 1.84581 5.94367 3.00181 6.66767C2.29581 6.64567 1.63181 6.46467 1.04981 6.16167C1.04981 6.17967 1.04981 6.19467 1.04981 6.21367C1.04981 8.17067 2.53481 9.80267 4.50681 10.1737C4.14581 10.2657 3.76381 10.3137 3.37181 10.3137C3.09381 10.3137 2.82381 10.2897 2.56081 10.2437C3.10881 11.8467 4.70081 13.0157 6.58681 13.0487C5.11181 14.1317 3.25381 14.7767 1.23381 14.7767C0.885811 14.7767 0.542811 14.7577 0.205811 14.7207C2.11281 15.8657 4.37881 16.5357 6.81281 16.5357C14.7408 16.5357 19.0758 10.3797 19.0758 5.04267C19.0758 4.86667 19.0708 4.69367 19.0628 4.51967C19.9048 3.94967 20.6358 3.23867 21.2138 2.42967Z"
                                fill="white" />
                            </svg>
                        </span>
                    </a>
                    <a class="px-4" href="https://youtube.com/">
                        <span class="icon youtube">
                            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z"
                                fill="#FF1313" />
                            </svg>
                        </span>
                    </a>
                    <a class="px-4" href="https://twitch.tv/">
                        <span class="icon twitch">
                            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z"
                                fill="white"></path>
                                <path
                                d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z">
                                </path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <hr>

            <!-- Footer -->
            <div class="row content-justify-end footer">
                <div class="col-lg-4">
                    <div class="d-inline">
                        <p>© 2018 Your Games, inc. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="d-inline">
                        <a href="#"><span>Privacy Policy </span></a>|
                        <a href="#"><span>Terms of Services </span></a>|
                        <a href="#"><span>Code of Conduct</span></a>
                    </div>
                </div>
            </div>
            <!-- End of Footer -->
        </div>
    </div>


    <!-- <section class="hero mt-">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h1 class="mb-3">
                        The Design Thinking Superpowers
                    </h1>
                    <p class="mb-4">
                        Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
                    </p>
                    <a class="btn btn-primary" href="#" role="button">Get Started</a>
                </div>
                <div class="col d-none d-sm-block">
                    <img width="600" src="images/hero-icon.png" alt="">
                </div>
            </div>
        </div>
    </section> -->
    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
</body>

</html>